<div class="px-3 sm:px-2">
  <h4 class="underline font-bold underline-offset-4 pb-2">Contact Me</h4>
  <p>
    I'm currently looking for opportunities. Feel free to reach me out at
    <a href="mailto:mgudinocontacto@gmail.com?" class="text-yellow-400 no-underline hover:underline underline-offset-4">mgud@proton.me</a>
  </p>
</div>
