---
import { Github, Linkedin, Twitter } from "lucide-react"
---


<h2 class="pb-5">Manuel Gudiño</h2>
<p>
      I'm a software developer focused on crafting <span class="font-bold">top-notch</span> fullstack applications from scratch. My passion for
      problem-solving and acquiring knowledge drives me to deliver tailored and <span class="font-bold">outstanding</span> projects.
</p>
<br />
<section class="flex gap-4">
    <a href="https://twitter.com/manutedev" target="_blank">
        <Twitter className="stroke-[1.4] hover:cursor-pointer text-cyan-300 hover:stroke-2 transition-all" />
    </a>
    <a href="https://www.linkedin.com/in/manuelgudino/" target="_blank">
        <Linkedin className="stroke-[1.4] hover:cursor-pointer text-sky-500 hover:stroke-2 transition-all" />
    </a>
    <a target="_blank" href="https://github.com/m4nute">
        <Github className="stroke-[1.4] hover:cursor-pointer text-violet-500 hover:stroke-2 transition-all" />
    </a>
</section>