---
import Footer from "../../components/Footer.astro"
import { getCollection } from "astro:content"
import FormattedDate from "../../components/FormattedDate.astro"
import Transitions from "../../layouts/Transitions.astro"
import Navbar from "../../components/Navbar.astro"

const posts = (await getCollection("blog")).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
---

<Transitions>
  <main>
    <Navbar />
    <section>
      <ul>
        {
          posts.map((post) => (
            <li>
              <a href={`/blog/${post.slug}/`}>
                <h4 class="title">{post.data.title}</h4>
                <p class="date">
                  <FormattedDate date={post.data.pubDate} />
                </p>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
  <Footer />
</Transitions>
