---
import Footer from "../../components/layout/Footer.astro"
import { getCollection } from "astro:content"
import Transitions from "../../layouts/Transitions.astro"
import Navbar from "../../components/layout/Navbar.astro"
import Posts from "../../components/blog/Posts.astro"

const posts = (await getCollection("blog")).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
---

<Transitions>
  <main>
    <Navbar />
    <section class="prose prose-headings:m-0 px-2 prose-p:m-0 prose-invert">
      <Posts posts={posts} />
    </section>
  </main>
  <Footer />
</Transitions>
