---
const today = new Date()
---

<footer class="mt-8 mb-4">
  <hr class="mt-0 mb-3 border-zinc-700" />
  <p class="px-1 flex justify-between font-bold">
    <span>2023</span>
    <a class="italic font-semibold hover:underline underline-offset-4" href="https://twitter.com/manutedev" target="_blank">@manutedev</a>
  </p>
</footer>
