---
import Navbar from "../components/layout/Navbar.astro"
import Transitions from "../layouts/Transitions.astro"
---

<Transitions>
  <Navbar />
  <h1 class="ml-5">Welcome to my website!</h1>
</Transitions>
