---
import Navbar from "../components/layout/Navbar.astro"
import Transitions from "../layouts/Transitions.astro"
import Footer from "../components/layout/Footer.astro"
import LatestProjects from "../components/projects/LatestProjects.astro"
---

<Transitions>
  <main>
    <Navbar />
    <LatestProjects all />
  </main>
  <Footer />
</Transitions>
