---
import { FileText, Github, Linkedin, Mail } from "lucide-react"
---

<nav
  class="sticky top-2 px-4 text-xl mx-3 py-3 backdrop-blur-md border-b border-gray-300 dark:border-gray-600 border-opacity-50 transition-all
flex justify-between bg-[#292929]/70 rounded-xl">
  <section class="flex gap-2 h-fit my-auto">
    <a href="https: www.linkedin.com in manuelgudino">
      <Linkedin strokeWidth={1.6} size={22} />
    </a>
    <a href="https://github.com/m4nute">
      <Github strokeWidth={1.6} size={22} />
    </a>
    <a href="mailto:mgudinocontacto@gmail.com?">
      <Mail strokeWidth={1.6} size={22} />
    </a>
  </section>
  <section class="flex gap-4">
    <a href="/" class="text-base">Home</a>
    <a href="/blog" class="text-base">Blog</a>
    <a href="/cv" class="text-base">Resume</a>
  </section>
</nav>
