---
import { ViewTransitions } from "astro:transitions"
---

<html lang="en">
  <head>
    <title>My Homepage</title>
    <ViewTransitions />
  </head>
  <body class="bg-[#1c1c1c] text-white max-w-2xl mx-auto min-h-screen">
    <slot />
  </body>
</html>
