---
import { ViewTransitions } from "astro:transitions"
import BaseHead from "../components/layout/BaseHead.astro"
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts"
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

    <ViewTransitions />
  </head>
  <body class="bg-[#111] text-white max-w-2xl mx-auto min-h-screen">
    <slot />
  </body>
</html>
