---
import Experience from "./Experience"
---

<h4 class="underline underline-offset-4">My Work</h4>
<Experience
  date="Now"
  role="Full Stack Developer"
  company="Asternic Corp"
  description="I’m currently building an augmented chatbot platform from scratch, where you can train support chatbots with your own files. My achievements:"
  items={[
    "Designed and coded the entire UI. Used React Query to improve performance.",
    "Added support for training with CSV, PDF & TXT files.",
    "Implemented rate limiting based on the limits defined in each paid plan.",
    "Made a Python FastAPI backend to interact with the ChromaDB instance.",
    "Implemented internationalization for the chatbots, supporting both Spanish and English.",
  ]}
  tech={["Next.js", "React.js", "TypeScript", "Tailwind CSS", "OpenAI API", "ChromaDB"]}
/>
<Experience
  date="2023"
  role="Full Stack Developer"
  company="JustProats"
  description="For this job, I had the responsibility to make a new Shopify store for the business from scratch, following pixel perfect design and building unique features."
  items={[
    "Designed a tailored shopify store from scratch to fit the company's needs",
    "Improved website speed by over 60 points",
    "Made the store customizable and automated through the Shopify CMS",
  ]}
  tech={["Shopify", "React.js", "TypeScript", "Tailwind CSS"]}
/>
<Experience
  date="2023"
  role="Front End Developer"
  company="TalkingCart"
  description="This is an Amazon assistant, powered by ChatGPT, that will understand your needs and recommend specific Amazon products. Made using Amazon API and OpenAI API."
  items={[
    "Interacted with Amazon API to retrieve products from the marketplace",
    "Used OpenAI API to understand the user's input and pick product recommendations",
    "Designed an intuitive and user friendly experience",
  ]}
  tech={["Next.js", "TypeScript", "OpenAI API", "Tailwind CSS"]}
/>
